:root {
    --form-input-height: 2rem;
    --border-highlights: rgb(27, 2, 170);
    --border-main-color: rgb(133, 133, 133);
  }



html, body {
    /* make body and html the size of viewport */
    height:100%;
    width: 100%;
    margin:0;
    padding:0;
    
    display: flex;

    /* fonts */
    font-family: sans-serif;

    /* background */
    background: rgb(154,217,198); /* if gradient doesn't load */
    background: linear-gradient(90deg, rgba(154,217,198,1) 0%, rgba(166,224,139,1) 100%);
    background-size: 400% 100%;
    animation: cycling-gradient 40s ease infinite;

    
}

/* background animation, achieved by translating a zoomed in gradient */
@keyframes cycling-gradient {
    0% {background-position: 0% 50%;}

    50% {background-position: 100% 50%;}

    100% {background-position: 0% 50%;}
}

/* form banner is used to avoid using justify content center on body, it is the width of page and height of child elements */
.form-banner {
    display:flex;
    align-self: center;
    flex-flow: row nowrap;
    justify-content: center;

    width: 100%;
    min-width: 100px;
}

/* div that wraps the form, allows for form alignment within box. ei: centered form in 60% width with contents aligned left */
.form-box {
    display:flex;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    

    box-shadow: 3px 3px 5px rgb(164, 207, 235);
}

#login {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
    row-gap: 1rem;
    padding: 2rem;

    width: 25vw;
    min-width: 20em;

    background-color: white;
    border:none;
}

button {
    height: var(--form-input-height);
    background-color: rgb(19, 144, 222);
    
    font-weight: bold;
    color: white;
    
    
    width: 70%;
    max-width: 300px;

    border: none;
    border-radius: 25px;
}

button:hover {
    background-color: var(--border-highlights);
}

input {
    height: var(--form-input-height);
    background-color: white;
    
    color: var(--border-highlights);

    width: 70%;
    max-width: 300px;
    
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to left, transparent 0%, var(--border-highlights) 0%, var(--border-highlights) 0%, var(--border-main-color) 0%, var(--border-main-color) 100%) 1;
    border-top:none;
    border-right:none;
    border-left:none;
  
    
}

@keyframes underline {
    0%{
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--border-highlights) 0%, var(--border-highlights) 0%, var(--border-main-color) 0%, var(--border-main-color) 100%) 1;
        border-top:none;
        border-right:none;
        border-left:none;
    }
    25% {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--border-highlights) 0%, var(--border-highlights) 0%, var(--border-main-color) 25%, var(--border-main-color) 100%) 1;
        border-top:none;
        border-right:none;
        border-left:none;
    }
    50% {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--border-highlights) 0%, var(--border-highlights) 50%, var(--border-main-color) 75%, var(--border-main-color) 100%) 1;
        border-top:none;
        border-right:none;
        border-left:none;
    }
    75% {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--border-highlights) 0%, var(--border-highlights) 75%, var(--border-main-color) 100%, var(--border-main-color) 100%) 1;
        border-top:none;
        border-right:none;
        border-left:none;
    }
    100%{
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--border-highlights) 50%, var(--border-highlights) 100%, var(--border-main-color) 100%) 1;
        border-top:none;
        border-right:none;
        border-left:none;
        color: var(--border-highlights)
    }
}

/* animate the bottom border (underline) on focus */
input:focus-visible {
    outline: none;
    animation: underline .3s linear 1;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to left, transparent 0%, var(--border-highlights) 50%, var(--border-highlights) 100%, var(--border-main-color) 100%) 1;
    border-top:none;
    border-right:none;
    border-left:none;
}

/* change the placeholder text color on focus */
input:focus-visible::placeholder {
    color: var(--border-highlights)
}