:root {
    --form-input-height: 2rem;
    --highlights: rgb(4, 43, 116);
  }



html, body {
    height:100%;
    width: 100%;
    margin:0;
    padding:0;
    display: flex;
    background: rgb(154,217,198);
    background: linear-gradient(90deg, rgba(154,217,198,1) 0%, rgba(166,224,139,1) 100%);
    background-size: 400% 100%;
    animation: cycling-gradient 40s ease infinite;
}


@keyframes cycling-gradient {
    0% {background-position: 0% 50%;}

    50% {background-position: 100% 50%;}

    100% {background-position: 0% 50%;}
}

.navbar {
    position: absolute;
}



#login {
    justify-self: center;
    align-self: center;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    padding: 10px;

    background-color: transparent;
    border:none;
    width: 100%;
}
@media screen and (max-width: 500px) { 
    #login {
        flex-flow: column nowrap;
        align-items: flex-start;
        row-gap: 2px;
    }
}

input {
    height: var(--form-input-height);
    background-color: transparent;
    color: var(--highlights);

    
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to left, transparent 0%, var(--highlights) 0%, var(--highlights) 0%, transparent 0%, transparent 100%) 1;
    transition: border-bottom 0.2;
    border-top:none;
    border-right:none;
    border-left:none;
  
    
}

@keyframes underline {
    0%{
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--highlights) 0%, var(--highlights) 0%, transparent 0%, transparent 100%) 1;
        transition: border-bottom 0.2;
        border-top:none;
        border-right:none;
        border-left:none;
    }
    25% {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--highlights) 0%, var(--highlights) 0%, transparent 25%, transparent 100%) 1;
        transition: border-bottom 0.2;
        border-top:none;
        border-right:none;
        border-left:none;
    }
    50% {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--highlights) 0%, var(--highlights) 50%, transparent 75%, transparent 100%) 1;
        transition: border-bottom 0.2;
        border-top:none;
        border-right:none;
        border-left:none;
    }
    75% {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--highlights) 0%, var(--highlights) 75%, transparent 100%, transparent 100%) 1;
        transition: border-bottom 0.2;
        border-top:none;
        border-right:none;
        border-left:none;
    }
    100%{
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--highlights) 50%, var(--highlights) 100%, transparent 100%) 1;
        transition: border-bottom 0.2;
        border-top:none;
        border-right:none;
        border-left:none;
        color: var(--highlights)
    }
}

input:focus-visible {
    outline: none;
    animation: underline .3s linear 1;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to left, transparent 0%, var(--highlights) 50%, var(--highlights) 100%, transparent 100%) 1;
    transition: border-bottom 0.2;
    border-top:none;
    border-right:none;
    border-left:none;
}
input:focus-visible::placeholder {
    color: var(--highlights)
}

button {
    height: var(--form-input-height);
    font-weight: bold;
    color: white;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, transparent 100%,var(--highlights) 0%, var(--highlights) 0%) 1;
}

@keyframes border {
    0%{
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--highlights) 0%, var(--highlights) 0%, transparent 0%, transparent 100%) 1;
        transition: border-bottom 0.2;
        color: white;
    }
    25% {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--highlights) 0%, var(--highlights) 0%, transparent 25%, transparent 100%) 1;
        transition: border-bottom 0.2;
    }
    50% {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--highlights) 0%, var(--highlights) 50%, transparent 75%, transparent 100%) 1;
        transition: border-bottom 0.2;
    }
    75% {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--highlights) 0%, var(--highlights) 75%, transparent 100%, transparent 100%) 1;
        transition: border-bottom 0.2;
    }
    100%{
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to left, transparent 0%, var(--highlights) 50%, var(--highlights) 100%, transparent 100%) 1;
        transition: border-bottom 0.2;
        color: var(--highlights);
    }
}

button:hover {
    animation: border 0.2s linear 1;
    border-image: linear-gradient(to left, transparent, var(--highlights)) 1;
    color: var(--highlights);
}